<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %> | <%= @restaurant.phone_number %></p>
<p>Category: <%= @restaurant.category.capitalize %></p>

<div><%= link_to 'Add a review!', new_restaurant_review_path(@restaurant), class: "btn btn-outline-primary"%></div>
<hr>
<% @restaurant.reviews.each do |review| %>
<p>Rating: <%= review.rating %>/5</p>
<p><%= review.content %></p>
<hr>
<% end %>
